.footer {
    background-color: #333; 
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%; 
    position-anchor: bottom;
    margin-top: auto; 
  }

.footer p2 {
    font-size: 10px;
    color: white;
    text-align: center;
  }

  .footer i {
    margin: 0 15px; 
  }